.circular-image {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
  }

  .circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .detailsFlex {
    margin-top: 20px;
    display: flex;
    width: 20%;
    padding: 20px;
    background-color: #c4f5d7;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
    box-shadow: 0 0 5px 5px #60f7b1;
  }